.container {
  height: calc(100vh - 64px);
}

.grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
}

.spacer {
  flex: 1;
}

mat-card button {
  margin-right: 8px;
  margin-bottom: 8px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}
