<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">MyApp</a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">

    <!-- Left side: Form -->
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h5>Add</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label name="name" class="form-label">Batch Name</label>
              <input type="text" [(ngModel)]="newBatchObj.batchName" class="form-control" name="name" required>
            </div>

            <div class="mb-3">
              <label name="description" class="form-label">Description</label>
              <textarea rows="3" name="description" id="description" [(ngModel)]="newBatchObj.description"
                class="form-control" name="name" required></textarea>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label name="startDate" class="form-label">Start Date</label>
                  <input type="date" [(ngModel)]="newBatchObj.startDate" class="form-control" name="startDate" required>
                </div>

              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label name="endDate" class="form-label">End Date</label>
                  <input type="date" [(ngModel)]="newBatchObj.endDate" class="form-control" name="endDate" required>
                </div>
              </div>
            </div>



            <div class="mb-3">
              <label class="form-label">Active Status</label>
              <div>
                <span *ngIf="newBatchObj.isActive; else inactiveStatus" class="badge bg-success">Active</span>
                <ng-template #inactiveStatus>
                  <span class="badge bg-danger">Inactive</span>
                </ng-template>
              </div>
              <input type="checkbox" [(ngModel)]="newBatchObj.isActive" class="form-check-input" name="email" required>
            </div>

            <button type="submit" (click)="onSaveBatch()" class="btn btn-primary">
              Create Batch
            </button>
            <button type="button" class="btn btn-secondary ms-2">
              Clear
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Right side: Table -->



    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Start date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(item of batchList(); track $index){
            <tr>
              <td><strong>{{$index}}</strong></td>
              <td>{{item.batchName}}</td>
              <td>{{item.startDate | date:'dd-MM-yy'}}</td>
              <td>{{item.endDate | date:'dd-MM-yy'}}</td>
              <td>
                <span class="badge-status" [ngClass]="item.isActive ? 'badge-active':'badge-inactive'">
                  <i class="fas fa-check-circle me-1"></i> {{item.isActive ? 'Active' : 'Inactive'}}
                </span>
              </td>
              <td>
                <button class="btn btn-warning btn-sm me-2">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
            }
            <tr *ngIf="batchList().length==0">
              <td colspan="6" class="text-center">No users found</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <div class="d-flex justify-content-center align-items-center mt-3 flex-wrap pagination-container">
        <button class="btn btn-outline-primary btn-sm me-2" [disabled]="currentpage==0" (click)="prevPage()">⬅️
          Prev</button>

        <ng-container *ngFor="let page of numbers; let $index;">
          <span class="pagination-buttons" [class.active]="page==currentpage" (click)="gotoNextPage(page)">
            {{page}}
          </span>
        </ng-container>

        <button class="btn btn-outline-primary btn-sm ms-2" [disabled]="currentpage==numbers.length-1"
          (click)="nextpage()">Next ➡️</button>
      </div>
    </div>



  </div>
</div>
