<header>
  <!-- Left Side (Profile and Title) -->
  <div class="header-left">
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Profile Picture">
    <span>John Doe</span>
  </div>

  <!-- Navigation Menu -->
  <nav>
    <ul>
      <li><a routerLinkActive="active-link" routerLink="rxjsAndObservables">RxJS</a></li>
      <li><a routerLinkActive="active-link" routerLink="statemanagement">State</a></li>
      <li><a routerLinkActive="active-link" routerLink="materialdesign">UI</a></li>
      <li><a routerLinkActive="active-link" routerLink="forms">Forms</a></li>
      <li><a routerLinkActive="active-link" routerLink="routing">Routing</a></li>
      <li><a routerLinkActive="active-link" routerLink="behvssignal">SSR</a></li>
      <li><a routerLinkActive="active-link" routerLink="pagination">pagination</a></li>
      <li><a routerLinkActive="active-link" routerLink="ngrx">ngrx</a></li>
      <li><a routerLinkActive="active-link" routerLink="medicinengrx">medicine ngrx</a></li>
      <!-- <mat-form-field appearance="fill">
  <mat-label>Select Country</mat-label>
  <mat-select value="selectedCountry">
    <mat-option >
      Routing
    </mat-option>
    <mat-option >
      Routing
    </mat-option>
  </mat-select>
</mat-form-field> -->

      <div class="menu-wrapper" (click)="toggleDropdown($event)">
        <span class="menu-label">Menus ▾</span>

        <ul class="menu-dropdown" *ngIf="isOpen" >
          <ng-container *ngFor="let item of menus">
          <li value="{{item}}" (click)="gotoFromDrpDwn(item)">
            {{ item.label }}
          </li>
          </ng-container>

        </ul>
      </div>



    </ul>
  </nav>

  <!-- Profile Icon and Menu -->
  <!-- <div class="profile-menu">
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Profile Picture">
    <i class="material-icons">arrow_drop_down</i>
  </div> -->

  <!-- Mobile Menu Icon -->
  <!-- <div class="mobile-menu-icon material-icons" (click)="toggleMenu()">menu</div>
  <button mat-raised-button color="primary">My Material Button</button>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
</header>

<router-outlet />
